@model CPSWebApplication.Models.ViewModel.DesignCPSViewModel

@{
    ViewBag.Title = "GenerateCPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GenerateCPS</h2>
<p> @Session["UserName"].ToString() Want to see CPS</p>


@using (Html.BeginForm("GenerateCPS", "AcademicAdvisor", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(model => model.searchId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.searchId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.searchId, "", new { @class = "text-danger" })
            <br />
            <button type="submit" class="btn btn-default" onclick="window.location = ('@Url.Action("","")')">Submit </button>
            <br />
        </div>
    </div>


}
            @using (Html.BeginForm())
            {

            }

            <div>@Html.ActionLink("LogOut", "LogOut", "Account")</div>
